.index_text{
    margin-top: 400px;
    text-align: center;
}
.list-group_result{
text-align: center;
}


.form_search{
text-align:center;
}

.text{
text-align:center;
}

.show_reviews_info{
    text-align:left;
    color: aliceblue;
}
.info_good_read{
    text-align: left;
    color: aliceblue;

}
.info_book{
    text-align: left;
    color: aliceblue;
}
.form_score{
margin-top:400px;
color: aliceblue;
}