<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='general_style.css') }}">
<body background="../static/narrative-794978_1920.jpg">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="info_book">
    <h1>Book information:</h1>
    <p>YEAR:{{book_data.year}}, TITLE:{{book_data.title}}, AUTHOR: {{book_data.author}}, ISBN: {{book_data.isbn}}</p>
</div>

<div class="info_good_read">
<h1>Good read information:</h1>
<p>good read data_average data:{{good_read_data_average_data}}, good read data ratings count:{{good_read_data_ratings_count}}</p>
<p></p>
</div>
<div class="show_reviews_info">
    <h1>show_reviews_info:</h1>
    <p>{{review_text}}</p>
    <p>{{review_count}}</p>
    <p>{{average_score}}</p>
</div>
<div class="form_score">
    <h1>Make a review</h1>
    <form action="" method="post" >


         <p>
             Score:
             {{form.review_score}}

         </p>
         <div>

            {{ form.review_tex }}<br>


        </div>
        {{ form.submit}}

     </form>
</div>
</body>
</html>