<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body background="../static/undraw_Bibliophile_hwqc.png">

  Hi {{ name }}!

<p>bienvenido a su mundo de libros</p>
<p>que libro desea buscar?</p>
<form action="" method="post" >
         {{form.hidden_tag()}}

         <p>
             Options:
             {{form.options()}}

         </p>
         <div>

            {{ form.buscador }}<br>


        </div>
        {{ form.search_result }}

     </form>

</body>
</html>